# General cleanup
.my_env
__pycache__

# /extract
/extract/dataset/**
!/extract/dataset/
!/extract/dataset/results.csv.example
!/extract/dataset/images/
!/extract/dataset/images/.gitkeep

# /transform
/transform/dataset/**
!/transform/dataset/
!/transform/dataset/images/
!/transform/dataset/images/.gitkeep
!/transform/dataset/results.csv.example
!/transform/dataset/batches/
!/transform/dataset/batches/.gitkeep

# /model
/model/dataset/**
!/model/dataset/
!/model/dataset/images/
!/model/dataset/images/.gitkeep
!/model/dataset/results.csv.example
/model/*.pth
